<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sarve Bhavantu Sukhinah">
    <meta name="keywords" content="Online shop, SBS, SBS Jodhpur, Jodhpur, Shop in Jodhpur, Sarve Bhavantu Sukhinah, Grocery, electric scooter">
    <title>@ViewBag.Title</title>
    <link href="Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fonts")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/js/Common.js"></script>

</head>
<body>
    @Html.Partial("~/Views/Partial/Header.cshtml")
    @RenderBody()
    @Html.Partial("~/Views/Partial/Footer.cshtml")
    @RenderSection("scripts", required: false)
</body>
</html>
