@model AdminPanel.Models.EmployeeSave
@{
    ViewBag.Title = "NewEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<style>
    .datepicker {
        z-index: 9999 !important;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <i class="fa fa-user-plus"></i>&nbsp;Create New Employee
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("SBSEmployeeDetail", "Employee")"><i class="fa fa-users"></i>Employee Master</a></li>
            <li class="active">Create New Employee</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->@using (Html.BeginForm("SaveNewEmployee", "Employee", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
        {
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#activity" data-toggle="tab"><i class="fa fa-user"></i>&nbsp;Detail</a></li>
                            <li><a href="#timeline" data-toggle="tab"><i class="fa fa-fw fa-files-o"></i>&nbsp;Upload Document</a></li>
                        </ul>
                        <div class="tab-content">

                            <div class="active tab-pane" id="activity">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="inputName" class="col-sm-4 control-label">First Name</label>
                                        <div class="col-sm-8">
                                            @*@Html.HiddenFor(m => m.EmployeeID)*@
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputName" class="col-sm-4 control-label">Last Name</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="inputName" class="col-sm-4 control-label">Mobile</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputName" class="col-sm-4 control-label">Email</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="inputName" class="col-sm-4 control-label">Gender</label>
                                        <div class="col-sm-8">
                                            @Html.Label("Male", "Male")
                                            @Html.RadioButtonFor(m => m.Gender, "1", new { @id = "Male", @checked = true })
                                            @Html.Label("Female", "Female")
                                            @Html.RadioButtonFor(m => m.Gender, "2", new { @id = "Female" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputName" class="col-sm-4 control-label">DOB</label>
                                        <div class="col-sm-8">
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                @Html.TextBoxFor(m => m.DOB, new { @class = "form-control  pull-right", @id = "datepickerDOB", @required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="inputName" class="col-sm-4 control-label">Department</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.Department, ViewBag.DepartmentList as SelectList, "Select Department", new { @class = "form-control", @required = "required", @id = "drpDepartmentList" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputName" class="col-sm-4 control-label">City</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.City, ViewBag.CityList as SelectList, "Select City", new { @class = "form-control", @required = "required", @id = "drpCityList" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="inputName" class="col-sm-4 control-label">State</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.State, ViewBag.StateList as SelectList, "Select State", new { @class = "form-control", @required = "required", @id = "drpStateList" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputName" class="col-sm-4 control-label">Country</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.Country, ViewBag.CountryList as SelectList, "Select Country", new { @class = "form-control", @required = "required", @id = "drpCountryList" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="inputName" class="col-sm-4 control-label">Status</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.Status, ViewBag.StatusList as SelectList, "Select Status", new { @class = "form-control", @required = "required", @id = "drpStatusList" })
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>

                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="timeline">
                                <ul class="timeline timeline-inverse">
                                    <!-- /.timeline-label -->
                                    <!-- timeline item -->
                                    <li>
                                        <i class="fa fa-camera bg-purple"></i>
                                        <div class="timeline-item">
                                            <h3 class="timeline-header">
                                                <b style="float:left;">Passport Size photo</b>
                                                <input style="float:right;margin-top:-5px;" type="file" id="PassportPhoto" name="PassportPhoto" required />
                                                <label style="clear:both;"></label>
                                            </h3>
                                            <div class="timeline-body" id="PassportPhotoBody">

                                            </div>
                                        </div>
                                    </li>
                                    <!-- END timeline item -->
                                </ul>

                                <!-- The timeline -->
                                <ul class="timeline timeline-inverse">
                                    <!-- /.timeline-label -->
                                    <!-- timeline item -->
                                    <li>
                                        <i class="fa fa-file-text-o bg-purple"></i>
                                        <div class="timeline-item">
                                            <h3 class="timeline-header">
                                                <b style="float:left;">Education Certificates</b>
                                                <input style="float:right;margin-top:-5px;" type="file" id="EducationCertificates" name="EducationCertificates" multiple="multiple" required />
                                                <label style="clear:both;"></label>
                                            </h3>
                                            <div class="timeline-body" id="EducationBody">
                                                <div class="row" style="padding:10px;"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- END timeline item -->
                                </ul>

                                <ul class="timeline timeline-inverse">
                                    <!-- /.timeline-label -->
                                    <!-- timeline item -->
                                    <li>
                                        <i class="fa fa-file-text-o bg-purple"></i>
                                        <div class="timeline-item">
                                            <h3 class="timeline-header">
                                                <b style="float:left;">Adhar Card/Pan Card/Voter ID Card/Driving Licence</b>
                                                <input style="float:right;margin-top:-5px;" type="file" id="IDProofs" name="IDProofs" multiple="multiple" required />
                                                <label style="clear:both;"></label>
                                            </h3>
                                            <div class="timeline-body" id="IdProofsBody">
                                                <div class="row" style="padding:10px;"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- END timeline item -->
                                </ul>
                            </div>
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
            </div>
        }
    </section>
</div>
<script>
    $(document).ready(function () {
        $('#datepickerDOB').datepicker({
            autoclose: true
        })

        $('#datepickerDOB').datepicker('setDate', new Date());
    });

    $(document).ready(function () {
        if (window.File && window.FileList && window.FileReader) {
            $("#PassportPhoto").on("change", function (e) {
                var files = e.target.files,
                  filesLength = files.length;
                for (var i = 0; i < filesLength; i++) {
                    var f = files[i]
                    var fileReader = new FileReader();
                    fileReader.onload = (function (e) {
                        var file = e.target;
                        var ImgHtml = "<span class=\"pip\">" +
                          "<img style=\"width:200px;\" class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                          "<br/><span style=\"cursor: pointer;\" span class=\"remove\"><i class=\"fa fa-fw fa-remove\"></i> Remove</span>" +
                          "</span>";
                        $("#PassportPhotoBody").html(ImgHtml);
                        $(".remove").click(function () {
                            $(this).parent(".pip").remove();
                            $("#PassportPhoto").val("");
                        });

                    });
                    fileReader.readAsDataURL(f);
                }
                console.log(files);
            });

            $("#EducationCertificates").on("change", function (e) {
                var files = e.target.files,
                  filesLength = files.length;
                for (var i = 0; i < filesLength; i++) {
                    var f = files[i]
                    var fileReader = new FileReader();
                    fileReader.onload = (function (e) {
                        var file = e.target;
                        var ImgHtml = "<div style=\"border: 2px solid;padding: 0px;border-color: #cccccc;\" class=\"col-md-4\"><span class=\"pip\" style=\"padding: 5px;\">" +
                          "<img style=\"width:312px;height:300px;\" class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                          "<br/><span style=\"cursor: pointer;\" span class=\"remove\"><i class=\"fa fa-fw fa-remove\"></i> Remove</span>" +
                          "</span></div>";
                        $("#EducationBody .row").append(ImgHtml);
                        $(".remove").click(function () {
                            $(this).parent(".pip").remove();
                            $("#EducationCertificates").val("");
                        });

                    });
                    fileReader.readAsDataURL(f);
                }
                console.log(files);
            });


            $("#IDProofs").on("change", function (e) {
                var files = e.target.files,
                  filesLength = files.length;
                for (var i = 0; i < filesLength; i++) {
                    var f = files[i]
                    var fileReader = new FileReader();
                    fileReader.onload = (function (e) {
                        var file = e.target;
                        var ImgHtml = "<div style=\"border: 2px solid;padding: 0px;border-color: #cccccc;\" class=\"col-md-4\"><span class=\"pip\" style=\"padding: 5px;\">" +
                          "<img style=\"width:312px;height:300px;\" class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                          "<br/><span style=\"cursor: pointer;\" span class=\"remove\"><i class=\"fa fa-fw fa-remove\"></i> Remove</span>" +
                          "</span></div>";
                        $("#IdProofsBody .row").append(ImgHtml);
                        $(".remove").click(function () {
                            $(this).parent(".pip").remove();
                            $("#IDProofs").val("");
                        });

                    });
                    fileReader.readAsDataURL(f);
                }
                console.log(files);
            });
        } else {
            alert("Your browser doesn't support to File API")
        }
    });
</script>
